@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}
.text h2 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #ffffff, #aaaaaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeInUp 1s ease forwards;
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 10px;
  color: #ddd;
  animation: fadeInUp 1.2s ease forwards;
}

.links {
  margin-top: 40px; /* Adjust this value as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}


.link {
  display: flex;
  align-items: center;
  gap: 25px;
  transition: transform 0.2s ease;
}

.link:hover {
  transform: translateX(10px);
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
  transition: color 0.3s;
}

.link a:hover {
  color: #00ffff;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

/* Responsive */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 40px;
    padding: 40px 5%;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text h2 {
    font-size: 50px;
  }

  .text p {
    font-size: 28px;
  }

  .links {
    align-items: center;
  }
}

/* Animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
